# Python byte-code
__pycache__/
*.py[cod]

# control pid files
*.pid

# logs and temporary files
/logs/
csv_dumps/
*.log

# legacy code and backups
LegacyCode/
backup/

# node_modules and build artifacts
web/node_modules/
web/dist/
/web/node_modules/
node_modules/